<%- include("header.ejs")%>
<h2 class="columbiyum">
    While we haven't been able to visit every restaurant
    we wanted to, 
    here is a list of places that we find worthy of a shoutout! 
</h2>
<div class="postcard-holder">

<div class="postcard pink">
    <div class="postcard-content">
        <h2 class="postcard-title">Himalayan Yak</h2>
        <p class="postcard-description">
            72-20 Roosevelt Ave, Queens, NY 11372
        </p>
    </div>
</div>

<div class="postcard yellow">
    <div class="postcard-content">
        <h2 class="postcard-title">Nepali Bhanchha Ghar</h2>
        <p class="postcard-description">
            74-15 Roosevelt Ave, Queens, NY 11372
        </p>
    </div>
</div>

<div class="postcard green">
    <div class="postcard-content">
        <h2 class="postcard-title">Little Morocco</h2>
        <p class="postcard-description">
            24-39 Steinway St, Queens, NY 11103
        </p>
    </div>
</div>

<div class="postcard orange">
    <div class="postcard-content">
        <h2 class="postcard-title">Burmese Bites</h2>
        <p class="postcard-description">
            Queens Center Mall Food Court, 90-15 Queens Blvd, Queens, NY 11373
        </p>
    </div>
</div>

<div class="postcard lighter-blue">
    <div class="postcard-content">
        <h2 class="postcard-title">Bolivian Llama Party</h2>
        <p class="postcard-description">
            44-14 48th Ave, Sunnyside, NY 11377
        </p>
    </div>
</div>

</div>

<div class="instagram-center">
    <a href="https://www.instagram.com/columbiyum/" target="_blank">
    <img src="assets/instagram.png" alt="instagram" class="nav-icon">
    </a>
<div>

<%- include("footer.ejs")%>