<!-- Footer -->
<footer class="footer">
    <p>
        <a href="https://www.instagram.com/columbiyum/" class="textFooter" target="_blank"
        >Archive of Columbiyum</a>
    </p>
    </footer>
</body>
</html>

