<!-- Footer with input built in -->
<!-- <div class = "footer-padding"></div> -->
<footer class="footer-rec">
    <div class="center-wrapper">
        <form class="formBox" action="/recommendations" method="post">
            <input type="text" id="inputBox" name="userText" />
            <button type="submit" name="list" class="sendButton">
                Send
            </button>
        </form>
    </div>
    <p>
        <a href="https://quocvibui.com/" class="textFooter"
        >Archive of Columbiyum</a
        >
    </p>
    </footer>
</body>
</html>