<!-- Header -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Columbiyum</title>
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>

<!-- Nav Bar -->
<nav class="center">
    <ul class="nav">
      <li class="nav" id="home"><a class="nav" href="/">Home</a></li>
      <li class="nav" id="about"><a class="nav" href="/about">Places</a></li>
      <li class="nav" id="recommendations"><a class="nav" href="/recommendations">Request</a></li>
    </ul>
</nav>
