<%- include("header.ejs")%>

<h1 class="columbiyum">Columbiyum</h1>
<!-- Workable area -->
<h2 class="columbiyum">
  Breaking the Columbia bubble by supporting multicultural + affordable
  restaurants!
</h2>

<div class="postcard-holder">

<!-- 5th Post -->
<div class="postcard pink">
<img src="images/little_georgia.webp" alt="Thumbnail Image" class="postcard-image" />
<div class="postcard-content">
    <h2 class="postcard-title">Little Georgia</h2>
    <p class="postcard-description">
    Last weekend, Columbiyum traveled all the way out to Brighton Beach...
    </p>
    <a href="https://www.instagram.com/p/CzOiLyguXG_/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==" class="postcard-link"
    target="_blank"
    >Read More</a>
</div>
</div>

<!-- 4th Post -->
<div class="postcard green">
<img src="images/30_mile.webp" alt="Thumbnail Image" class="postcard-image" />
<div class="postcard-content">
    <h2 class="postcard-title">Lhasa Tibetan</h2>
    <p class="postcard-description">
    Columbiyum went on a 30 mile (48km) walk from campus to the Bronx and
    Queens!
    </p>
    <a href="https://www.instagram.com/p/Cw3QnQjOoEb/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==" class="postcard-link"
    target="_blank"
    >Read More</a>
</div>
</div>

<!-- 3rd Post -->
<div class="postcard lighter-blue">
<img src="images/summer_2023.webp" alt="Thumbnail Image" class="postcard-image" />
<div class="postcard-content">
    <h2 class="postcard-title">We are BACK?!</h2>
    <p class="postcard-description">
    Before the school year starts again, we wanted to share some amazing
    food we’ve had this summer.
    </p>
    <a href="https://www.instagram.com/p/CwntKuLOIqa/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==" class="postcard-link"
    target="_blank"
    >Read More</a>
</div>
</div>

<!-- Second Post -->
<div class="postcard orange">
<img src="images/meg.webp" alt="Thumbnail Image" class="postcard-image" />
<div class="postcard-content">
    <h2 class="postcard-title">Merguez & Frites</h2>
    <p class="postcard-description">
    This week we had to visit Merguez and Frites, an Algerian (الجزائرية) 🇩🇿
    restaurant located in Astoria.
    </p>
    <a href="https://www.instagram.com/p/CpA5t4XObfQ/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==" class="postcard-link"
    target="_blank"
    >Read More</a>
</div>
</div>

<!-- First Post -->
<div class="postcard yellow">
<img src="images/zhego.webp" alt="Thumbnail Image" class="postcard-image" />
<div class="postcard-content">
    <h2 class="postcard-title">Zhego NYC</h2>
    <p class="postcard-description">
    Our first review had to go to @zhego_nyc_, near Jackson Heights, Queens!
    </p>
    <a href="https://www.instagram.com/p/CouzS4ZOx7r/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==" class="postcard-link"
    target="_blank"
    >Read More</a>
</div>
</div>

<!-- End of the main-card-holder -->
</div>   

<div class="instagram-center">
    <a href="https://www.instagram.com/columbiyum/" target="_blank">
    <img src="assets/instagram.png" alt="instagram" class="nav-icon">
    </a>
<div>

<%- include("footer.ejs")%>
